h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  color: #2d3e58;
}

p,
ul,
li {
  font-size: 0.9rem !important;
  font-family: 'Roboto', sans-serif !important;
}

p > code,
li > code {
  font-size: 0.8rem;
  background: #eef5f9;
  font-weight: 700;
  padding: 4px;
}

::selection {
  background: #fc9208 !important;
  color: #fff;
}

code {
  font-family: 'Consolas' 'Liberation Mono', Menlo, Courier, sans-serif;
}

.language-ts,
.language-tsx,
.language-json,
.language-js,
.language-jsx,
.language-shell,
.language-bash {
  font-size: 0.8rem !important;
}
